<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  <title>Document</title>
</head>
<body>
  <header>
    <div class="bg1">
        <img src="images/bg-1.png" alt="">

    </div>
    <div class="bg2">
        <img src="images/bg-2.png" alt="">

    </div>


    <div class="wrapper"></div>
    <div class="nav">
        <div class="row">
            <a href="" class="logo-a">
                <img src="images/icon-logo.png" class='logo-icon' alt="">
                <span class="logo">sor<span class='be'>be</span>t</span>
            </a>
            <div class="menu">
                <ul id="nav-menu">
                    <li class=>
                        <a href="#discover" class="discover">Discover</a>

                    </li>
                    <li>
                        <a href="#map" class="map">Map</a>

                    </li>
                    <li>
                        <a href="#favorites" class="favorites">Favorites</a>

                    </li>


                </ul>
            </div>
        </div>

    </div>
    <div class="header-container">
        <div class="left-img">
            <img src="images/ice-cream1.png" alt="">
        </div>
        <div class="middle">
            <div class="title">
                <h1>Find your perfect place to buy your favorite ice-cream in Brussels!</h1>
            </div>
            <!-- <div class="search-bar">

            </div>
            <div class="search-btn">
                <span class="search-btn-text">Search</span>

            </div> -->
            <div class="search-bar">
                <form class="formulario" action="">
                  <input type="text" class="search-bar" id="tareaInput" placeholder="Write here to search">
                </div>

                <div class="search-btn-div">
                  <input type="button" onclick="newElement()" class="search-btn" id="btn-agregar" value="Search" >
                </div>
           
            

        </div>
        <div class="right-img">
            <img src="images/ice-cream2.png" alt="">
        </div>
    </div>
    
</header>


<!-- end of wrapper  -->
</div>
  <script src="static/scripts/index.js"></script>
</body>
</html>
